<body>
    <div class="uk-container">
        <div uk-height-viewport>
          <div class="uk-child-width-1-2@s uk-height-1-1 uk-grid-match uk-grid-collapse uk-grid-divider" uk-grid>
            <div class="uk-flex-column">
              <h4 class="uk-flex-none uk-text-center" style="padding: 20px;">OPEN</h4>
              <div class="uk-flex-1" uk-sortable="group: sortable-group">
                <div class="uk-margin">
                  <div class="uk-card uk-card-hover uk-card-default uk-card-small">
                    <div class="uk-card-body">
                      <h3 class="uk-card-title uk-margin-remove">Store Name <small class="uk-text-muted uk-float-right">Date Updated:</small></h3>
                      <p class="uk-text-meta uk-margin-remove">Lorem ipsum dolor sit amet</p>
                      <ul class="user-group">
                        <li><img class="uk-border-circle uk-box-shadow-small uk-box-shadow-hover-medium" width="40" height="40" src="https://getuikit.com/docs/images/avatar.jpg"></li>
                      </ul>
                    </div>
                    <div class="uk-card-footer uk-background-muted">
                      <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: comments"></a>3
                    </div>
                  </div>
                </div>
                <div class="uk-margin">
                  <div class="uk-card uk-card-hover uk-card-default uk-card-small">
                    <div class="uk-card-body">
                      <h3 class="uk-card-title uk-margin-remove">Shop 
                          Name <small class="uk-text-muted uk-float-right">Date Updated:</small></h3>
                      <p class="uk-text-meta uk-margin-remove">Lorem ipsum dolor sit amet</p>
                      <ul class="user-group">
                        <li><img class="uk-border-circle uk-box-shadow-small uk-box-shadow-hover-medium" width="40" height="40" src="https://getuikit.com/docs/images/avatar.jpg"></li>
                      </ul>
                    </div>
                    <div class="uk-card-footer uk-background-muted">
                      <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: comments"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-flex-column">
              <h4 class="uk-flex-none uk-text-center" style="padding: 20px;">CLOSED</h4>
              <div class="uk-flex-1" uk-sortable="group: sortable-group">
                <div class="uk-margin">
                  <div class="uk-card uk-card-hover uk-card-default uk-card-small">
                    <div class="uk-card-body">
                      <h3 class="uk-card-title uk-margin-remove">Store Name<small class="uk-text-muted uk-float-right">Date Updated:</small></h3>
                      <p class="uk-text-meta uk-margin-remove">Lorem ipsum dolor sit amet</p>
                      <ul class="user-group">
                        <li><img class="uk-border-circle uk-box-shadow-small uk-box-shadow-hover-medium" width="40" height="40" src="https://getuikit.com/docs/images/avatar.jpg"></li>
                      </ul>
                    </div>
                    <div class="uk-card-footer uk-background-muted">
                      <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: comments"></a>9
                    </div>
                  </div>
                </div>
                <div class="uk-margin">
                  <div class="uk-card uk-card-hover uk-card-default uk-card-small">
                    <div class="uk-card-body">
                      <h3 class="uk-card-title uk-margin-remove"> Store Name <small class="uk-text-muted uk-float-right">Date Updated:</small></h3>
                      <p class="uk-text-meta uk-margin-remove">Lorem ipsum dolor sit amet</p>
                      <ul class="user-group">
                        <li><img class="uk-border-circle uk-box-shadow-small uk-box-shadow-hover-medium" width="40" height="40" src="https://getuikit.com/docs/images/avatar.jpg"></li>
                      </ul>
                    </div>
                    <div class="uk-card-footer uk-background-muted">
                      <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: comments"></a>2
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>