<body>

{{!-- Card for Covid API info --}}

    <div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-body">
                <div>
                  <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">County Name</h3>
                    <p>{{cName}}</p>
                  </div>
                </div>
            </div>
                <div class="uk-card-body">
                <div>
                  <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Cases</h3>
                    <p>{{cases}}</p>
                  </div>
                </div>
            </div>
            <div class="uk-card-media-left uk-cover-container">
                <img src="https://pngimg.com/uploads/cat/cat_PNG50485.png" alt="covid cell" uk-cover>
                <canvas width="600" height="400"></canvas>
              </div>
            <div class="uk-card-body">
              <div>
                <div class="uk-card uk-card-default uk-card-large uk-card-body">
                  <h3 class="uk-card-title">Param 3</h3>
                  <p>Just tring to claw my way to the top.</p>
                </div>
              </div>
            </div>
              </div>
        
          </div>
          
        </div>
      </div>
    </div>
    
    {{> news}}

    
</body>

