<body>
<!--LEFT SIDEBAR-->
<div id="sidebar" class="tm-sidebar-left uk-background-default">
    <center>
        <div class="user">
            <img id="avatar" width="100" src="https://image.flaticon.com/icons/svg/3003/3003040.svg" />
            <div class="uk-margin-top"></div>
            <h3 class="uk-text-truncate">owner name here</h3>
            <div id="email" class="uk-text-truncate">emailhere@gmail.com</div>
           
        </div>
        <br />
    </center>
</div>


<!--MAIN PAGE JUMBOTRON-->
<div class="content-padder content-background">
    <div class="uk-section-small uk-section-default header">
        <div class="uk-container uk-container-large">
            <h1><span uk-icon="user"></span> Welcome! </h1>
            <p>
                {{{> store}}}
            </p>
            <ul class="uk-breadcrumb">
                <li><a href="index.html">Back to home</a>                   </li>
                <li><span href="">Sign out</span></li>
            </ul>
        </div>
    </div>
  </body>