

<nav class="uk-navbar-container uk-margin uk-sticky" uk-navbar>
        <div class="uk-navbar-left">

            <a class="uk-navbar-item uk-logo" href="#">Logo</a>

            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right"></span>
                        Features
                    </a>
                </li>
            </ul>

            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right"></span>
                        Features
                    </a>
                </li>
            </ul>

            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right"></span>
                        Features
                    </a>
                </li>
            </ul>

        </div>
    </nav>

<!--Map Thing-->
<div class="flourish-embed flourish-map" data-src="visualisation/3110321" data-url="https://flo.uri.sh/visualisation/3110321/embed"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
