 <div uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500">
        <h2 style="text-align: center;">Georgia Covid Tracker</h2>
        <div uk-scrollspy-class="uk-animation-slide-top">
            <div id="map"></div>
        </div>
    
    </div>

<!--Map JavaScript-->
<script src="js/map.js"></script>